version: "3"
services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  frontend:
    build: ./client
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend