services:
  backend:
    build:
      context: ./server
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://13.53.194.122:5000
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
