.login-form {
  padding: 2rem;
  /* background-color: #ffffff; */
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.login-form form div {
  margin-bottom: 1.5rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.login-form input {
  width: 200px;
  height: 50px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #007bff;
}

.btn-submit {
  padding: 0.75rem 2rem;
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}
